.image-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.para {
    width: 50%;
}
.myimage {
    width: 30%;
    height: auto;
    margin-left: 2rem;
  }

  @media screen and (max-width: 850px) {
    .image-div {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .para {
        
        width: 100%;
    }
    .myimage {
        margin: 20px;
        width: 90%;
       
        height: auto;
        margin-left: 2rem;
      }
  }

